@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

* {
  box-sizing: border-box; /* Doesn't affect the width the content*/
}

body {
  background-image: linear-gradient(90deg, #7d5fff, #7158e2);
  font-family: "Roboto", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

/* Put the search class in relative position, so you can position inner classes as absolute */
.search {
  position: relative;
  height: 3.125rem;
}

.search .input {
  background: #fff;
  border: 0;
  font-size: 1.125rem;
  padding: 1rem;
  width: 3.125rem;
  height: 3.125rem;
  transition: width 0.3s ease;
}

.search .btn {
  position: absolute;
  top: 0;
  left: 0;
  border: 0;
  cursor: pointer;
  width: 3.125rem;
  height: 3.125rem;
  background: #fff;
  font-size: 1.5rem;
  /* use transform on transition */
  transition: transform 0.3s ease;
}

.search .input:focus,
.search .btn:focus {
  outline: none;
}

.search.active .input {
  width: 12.5rem;
}

.search.active .btn {
  transform: translateX(12.375rem);
}
